@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;
}


body, html {
    background-color: black;
    font-family: 'Press Start 2P', sans-serif;

}

header{
    display: flex;
    width: 100%;
    
    height: 200px;
    justify-content: flex-end;
    
}

.again{
    background-color: white;
    color: black;
    border: 1px solid white;
    height: 120px;
    width: 200px;
    margin: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    font-family: 'Press Start 2P', sans-serif;
}


.main-guess {
    display:flex;
    height: 200px;
    border-bottom: 20px solid white;
    color: white;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.question {
    display: flex;
    height: 80px;
    width: 80px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: space-around;
    font-size: 2em;
}

.guess-container {
    display: flex;
    height: 200px;
    justify-content: flex-end;

}

.display{
    height: 100px;
    width: 200px;
    border: 3px solid white;
    

}

.start-guess{
    height: 50px;
    width: 200px;
    color: white;


}

.content {
    flex-direction: column;
    display: flex;
    height: 200px;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}


.guess {
    height: 100px; 
    width: 200px;
    background-color: white;
    border: 2px solid black;
    margin-left: 140px;
    justify-content: center;
    font-size: 2em;

}

.check{
    height: 50px; 
    width: 100px;
    background-color: none;
    border: 2px solid black;
    margin-left: 140px;
    justify-content: center;

}

.score, .highscore{
    color: white; 
    font-size: 20px;
    

}

.highscore {
    margin-right: 40px;
}